.index--bkg {
  background-image: url("../images/check-in.png");
  background-repeat: no-repeat; }

.nosotros--bkg {
  background-image: url("../images/mongol.png"); }

.nav-link__st, .nav-link__st--n {
  text-decoration: none;
  font-family: 'Bungee', cursive;
  color: orange !important;
  margin: 0 3.5rem; }

.nav-item:hover .nav-link {
  color: black !important; }

.nav-item:hover .nav-link__st--n {
  color: white; }

/*header nosotros*/
.encabezado {
  margin: 5%;
  display: flex;
  height: 20rem;
  align-items: flex-end; }

.encabezado__h2 {
  font-family: 'Bungee', cursive;
  color: #ffe598;
  margin: 20px;
  padding: 15px; }

.grid-index {
  display: grid;
  grid-template-areas: ".. .. .." "desc desc desc" ".. .. .. " ".. .. .." "serv serv image" "footer footer footer";
  grid-template-columns: 20% 25% 55%;
  grid-template-rows: 10% 30% 30% 15% 75% 20rem; }

.footer {
  grid-area: footer;
  width: 100%;
  display: flex;
  background-image: url("../images/objetivos.jpg");
  background-position: bottom;
  background-repeat: no-repeat;
  background-color: #ffcb65; }

.footer__icon {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 25%;
  height: 100%; }

.footer__icon--scale {
  margin: 30px;
  width: 2rem;
  height: 2rem; }

.footer__text {
  height: 100%;
  width: 50%; }

.footer__text--h2 {
  padding: 20px;
  font-family: 'Bungee', cursive;
  font-size: 2rem;
  text-align: center; }

.logo {
  font-size: 9rem;
  text-align: center;
  font-family: 'Bungee', cursive; }

.logo__sub {
  font-family: 'Bungee', cursive; }

/* contenido index styles */
.container--empty {
  height: 10rem;
  width: 100%; }

.image {
  grid-area: image;
  display: flex;
  justify-content: flex-end; }

.image__tmb {
  height: 100%;
  width: 85%; }

.desc {
  grid-area: desc;
  font-family: 'Roboto Condensed', sans-serif; }

.desc__p, .serv__ob--li {
  margin: 0 2rem;
  font-size: 1.2rem;
  font-weight: 400; }

.serv {
  grid-area: serv; }

.serv__ob {
  font-family: 'Bungee', cursive;
  font-size: 1.4rem; }

.serv__ob--li {
  font-family: 'Roboto Condensed', sans-serif; }

.btn__psj {
  height: 100%;
  width: 20%;
  display: inline-block;
  font-family: 'Bungee', cursive;
  color: black;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: transparent;
  border: 1px solid orange;
  padding: .375rem .75rem;
  font-size: 0.8rem;
  line-height: 1.5;
  border-radius: .25rem;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out; }

button.btn__psj:hover {
  background-color: black;
  color: orange; }

/* Contenido nosotros styles */
.container-fluid__p {
  margin-left: 20px;
  padding: 10px;
  color: white;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 1.2rem;
  border: 1px solid;
  border-color: orange; }

.container-fluid__tittle {
  font-family: 'Bungee', cursive;
  font-size: 1.4rem;
  color: orange;
  margin: 30px 20px; }

.redes {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center; }

span.col {
  color: orange;
  padding: 0;
  font-family: 'Bungee', cursive; }

a.col--link {
  color: #f1590e;
  padding: 0;
  font-family: 'Bungee', cursive;
  text-decoration: none; }

span.col-w {
  color: white;
  padding: 0; }

.redes__link {
  text-decoration: none; }

a.redes__link:hover {
  transform: scale(1.1);
  transition: 1s; }

a.col--link:hover {
  transition: 1s;
  text-decoration: none;
  color: white; }
