@charset "UTF-8";
* {
  margin: 0;
  font-family: 'Roboto Condensed', sans-serif; }

.white--bkg {
  background-color: white; }

.black--bkg {
  background-color: black; }

.contact--bkg {
  background-image: url("../images/avion.jpg");
  background-repeat: no-repeat;
  background-size: cover; }

.nav-link__st, .nav-link__st--w, .nav-link__st--r {
  text-decoration: none;
  font-family: 'Bungee', cursive;
  color: orange !important;
  margin: 0 3.5rem; }

.nav-item:hover .nav-link__st, .nav-item:hover .nav-link__st--w, .nav-item:hover .nav-link__st--r {
  color: black !important; }

.nav-item:hover .nav-link__st--w {
  color: white !important; }

.nav-item:hover .nav-link__st--r {
  color: #f1590e !important; }

.header__bkg {
  background-image: url("../images/cielo.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;
  height: 45rem; }

/*header nosotros*/
.encabezado {
  margin: 5%;
  display: flex;
  height: 19em;
  align-items: flex-end; }

.encabezado__h2 {
  font-family: 'Bungee', cursive;
  color: orange;
  margin: 20px;
  padding: 15px; }

.header__contacto {
  grid-area: header;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end; }

.header__h2 {
  height: 20%;
  font-family: 'Bungee', cursive;
  text-align: center; }

.header__viajes {
  background-image: url("../images/viajes.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 25em;
  margin: 0 0 4em;
  display: flex;
  align-items: center; }

.h1__viajes {
  font-family: 'Bungee', cursive;
  width: 100%;
  font-size: 3em;
  text-align: center;
  color: #f1590e;
  text-shadow: 2px 2px orange; }

.grid-index {
  display: grid;
  grid-template-areas: "serv serv serv " "serv serv serv" "pasajes pasajes pasajes" "footer footer footer";
  grid-template-columns: 33% 33% auto;
  grid-template-rows: 35% 26% 25% 20rem; }

.grid-contacto {
  display: grid;
  grid-template-areas: "header header .. .." ".. .. form form" ".. .. form form" "pie pie form form";
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: 35% 25% 25% auto; }

.footer {
  grid-area: footer;
  width: 100%;
  display: flex;
  background-image: url("../images/objetivos.jpg");
  background-position: bottom;
  background-repeat: no-repeat;
  background-color: #ffcb65; }

.footer__icon {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 25%;
  height: 100%; }

.footer__icon--scale {
  margin: 30px;
  width: 2rem;
  height: 2rem; }

.footer__icon--scalefc {
  margin: 30px;
  width: 1.2rem;
  height: 2.2rem; }

.footer__text {
  height: 100%;
  width: 50%; }

.footer__text--h2 {
  padding: 20px;
  font-family: 'Bungee', cursive;
  font-size: 2rem;
  text-align: center; }

.foooter__nos {
  display: flex;
  flex-flow: row nowrap; }

.footer__box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 70%;
  padding: 5%; }

.footer__h3 {
  font-family: 'Bungee', cursive;
  color: white;
  text-align: center; }

.footer__redes {
  display: flex;
  justify-content: space-evenly;
  margin: 5%;
  padding: 0 10%; }

.footer__p {
  align-self: center;
  color: white; }

.form {
  width: -webkit-fill-available;
  font-family: 'Roboto Condensed', sans-serif;
  color: white;
  padding: 5%; }

.contact__footer {
  grid-area: pie;
  display: flex; }

.contact__footer__redes {
  display: flex;
  justify-content: space-evenly;
  margin: 2%;
  padding: 0 20%; }

.logo {
  font-size: 9rem;
  text-align: center;
  font-family: 'Bungee', cursive; }

.logo__sub {
  font-family: 'Bungee', cursive;
  text-align: right; }

span.col {
  color: #fba000;
  padding: 0;
  font-family: "Bungee", cursive; }

.col--red {
  color: #f1590e;
  padding: 0;
  font-family: "Bungee", cursive; }

.col--ye {
  color: yellow;
  padding: 0;
  font-family: "Bungee", cursive; }

a.col--link {
  color: #f1590e;
  padding: 0;
  font-family: "Bungee", cursive;
  text-decoration: none; }

span.col-w {
  color: white;
  padding: 0;
  font-family: "Bungee", cursive; }

.redes__link {
  text-decoration: none;
  height: 2rem;
  width: 2rem; }

a.redes__link:hover {
  transform: scale(1.1);
  transition: 1s; }

a.col--link:hover {
  transition: 1s;
  text-decoration: none;
  color: white; }

/* contenido index styles */
.container--empty {
  height: 10rem;
  width: 100%; }

.pasajes {
  grid-area: pasajes;
  background-image: url("../images/pasajes.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  display: flex;
  flex-direction: column; }

.pasajes__box {
  display: flex;
  justify-content: space-between;
  padding: 30px;
  height: 100%; }

.pasajes__box--side {
  width: 30%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 15px; }

.pasajes__h3 {
  font-family: 'Bungee', cursive;
  font-size: 2.7rem;
  margin: 30px; }

.pasajes__h3 span.col {
  font-size: 3rem; }

.pasajes__text {
  display: flex;
  flex-direction: column;
  width: 100%; }

.pasajes__text--p {
  font-family: 'Bungee', cursive;
  font-size: 1.6rem; }

.pasajes__text--p2 {
  font-family: 'Bungee', cursive;
  font-size: 1.2rem; }

.pasajes__h4 {
  font-family: 'Bungee', cursive;
  font-size: 2.3rem; }

.pasajes--link {
  text-decoration: none; }

.pasajes--link:hover {
  text-decoration: none; }

.serv {
  grid-area: serv;
  display: flex;
  flex-direction: column; }

.serv__box {
  display: flex;
  margin: 5%; }

.serv__ul {
  font-family: 'Bungee', cursive;
  font-size: 1.4rem;
  width: 100%;
  height: 100%;
  opacity: 0.9;
  background-color: #f8f9fa;
  padding: 1rem;
  text-align: center; }

.serv__li {
  margin: 0 0.5rem;
  font-size: 1.2rem;
  font-weight: bolder;
  color: black;
  font-family: 'Roboto Condensed', sans-serif;
  list-style-type: none;
  text-align: center; }

.carousel__img {
  width: 100%; }

.pasajes__btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }

.btn__psj {
  height: 2.8em;
  width: 60%;
  display: inline-block;
  font-family: 'Bungee', cursive;
  color: black;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: #fba000;
  border: 2px solid black;
  margin: 1.8rem;
  font-size: 1.2rem;
  line-height: 1.1;
  border-radius: .25rem;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out; }

button.btn__psj:hover {
  background-color: black;
  color: orange; }

/* Contenido nosotros styles */
.backg {
  background-image: url("../images/barcelona.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 17rem;
  width: 100%;
  margin: 5rem 0; }

.container-fluid__p {
  margin: 2rem;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 1.2rem;
  color: white;
  text-align: justify; }

.container-fluid__tittle {
  font-family: 'Bungee', cursive;
  font-size: 1.8rem;
  margin: 30px 4rem;
  color: white;
  text-align: center; }

.redes {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center; }

.promo {
  margin: 5% 0 0 0;
  width: 100%; }

.contact__form {
  grid-area: form; }

.bg-ciudad {
  background-image: url("../images/ciudad prohibida.jpg");
  background-position: bottom; }

.viaje--pregunta {
  font-family: 'Bungee', cursive;
  font-size: 1.4rem;
  color: orange;
  text-shadow: 2px 2px black; }

.google--form {
  width: -webkit-fill-available;
  height: 520px; }

.pago {
  font-family: 'Roboto Condensed', sans-serif;
  color: white;
  margin: 5em 0; }

#rese単as {
  width: 100%;
  height: 500px;
  margin: 5em 0;
  padding: 3em;
  background-image: url("../images/zoom.jpg");
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.product {
  font-size: 1.45em;
  height: 16em;
  margin: 20px 50px;
  padding: 30px;
  margin-top: 5em;
  font-family: 'Roboto Condensed', sans-serif;
  background-color: rgba(255, 255, 255, 0.7);
  text-align: center; }

.rese単as--title {
  font-family: 'Bungee', cursive;
  color: orange;
  text-shadow: 2px 2px black;
  text-align: center; }

span.col {
  color: #fba000;
  padding: 0;
  font-family: "Bungee", cursive; }

.col--red {
  color: #f1590e;
  padding: 0;
  font-family: "Bungee", cursive; }

.col--ye {
  color: yellow;
  padding: 0;
  font-family: "Bungee", cursive; }

a.col--link {
  color: #f1590e;
  padding: 0;
  font-family: "Bungee", cursive;
  text-decoration: none; }

span.col-w {
  color: white;
  padding: 0;
  font-family: "Bungee", cursive; }

.redes__link {
  text-decoration: none;
  height: 2rem;
  width: 2rem; }

a.redes__link:hover {
  transform: scale(1.1);
  transition: 1s; }

a.col--link:hover {
  transition: 1s;
  text-decoration: none;
  color: white; }

@media screen and (max-width: 1163px) {
  .serv__li--res {
    margin-top: 25px; } }

@media screen and (max-width: 1100px) {
  .header__bkg {
    height: 38rem; } }

@media screen and (max-width: 910px) {
  .header__bkg {
    height: 30rem; }
  .contact--bkg {
    background-size: auto; } }

@media screen and (max-width: 860px) {
  .grid-index {
    grid-template-rows: 40% 20% 25% 20rem; }
  .pasajes__box {
    flex-direction: column;
    justify-content: center;
    padding: 30px 0; }
  .pasajes__box--side {
    width: 100%; }
  .col--ye {
    color: #f1590e; }
  .serv__box {
    flex-direction: column; }
  .encabezado {
    height: 21em; }
  .serv__ul {
    height: auto; } }

@media screen and (min-width: 790px) {
  nav.bg-light {
    background-color: transparent !important; }
  nav.bg-dark {
    background-color: transparent !important; } }

@media screen and (max-width: 790px) {
  .logo {
    font-size: 7rem; }
  .header__bkg {
    background-size: auto;
    background-position: top; }
  .grid-index {
    grid-template-rows: 40% 15% 35% 20rem; }
  .encabezado {
    height: 22em; } }

@media screen and (max-width: 765px) {
  .grid-contacto {
    grid-template-areas: "header header " "form form" "form form" "pie pie ";
    grid-template-columns: 50% 50%;
    grid-template-rows: 30% 25% 35% 7em; }
  .header__h2 {
    margin-bottom: 10%; } }

@media screen and (max-width: 640px) {
  .logo {
    font-size: 6rem; }
  .footer {
    flex-direction: column-reverse; }
  .footer__text {
    width: 100%;
    height: 30%; }
  .encabezado__h2 {
    margin: 0;
    padding: 0;
    font-size: 1.3em;
    text-align: center; }
  .encabezado {
    height: 12em; }
  .backg {
    margin: 2em 0; }
  .container-fluid__tittle {
    margin: 2em 0;
    font-size: 1.6em; }
  .container-fluid__p {
    margin: 0;
    text-align: center;
    padding: 15px; }
  .red {
    height: 12em; }
  .redes {
    flex-direction: row;
    height: 50%;
    width: 100%;
    align-items: baseline;
    margin-top: 3em; }
  .col--img {
    width: 100%; }
  .foooter__nos {
    flex-direction: column-reverse; }
  .footer__box {
    width: 100%; }
  #carrusel {
    width: 300px; } }

@media screen and (max-width: 510px) {
  .grid-contacto {
    grid-template-rows: 30% 25% 45% 7em; } }

@media screen and (max-width: 468px) {
  .grid-index {
    grid-template-rows: 40% 20% 27% 20rem; }
  .logo {
    font-size: 3.7rem; }
  .logo__sub {
    font-size: 1.2rem; }
  .pasajes__h3 {
    font-size: 2rem; }
  .footer__text--h2 {
    font-size: 1.5rem;
    padding: 0;
    margin-top: 15px; }
  .footer__icon {
    justify-content: end; }
  .redes__link {
    margin: 15px 0; }
  .footer__icon--scale {
    margin: 10px; }
  .footer__icon--scalefc {
    margin: 10px 15px; }
  .encabezado {
    height: 17em; }
  .contact--bkg {
    background-position: top; }
  .h1__viajes {
    font-size: 2em; }
  .pago {
    margin: 5em 10px; }
  #rese単as {
    padding: 35px; } }

@media screen and (max-width: 355px) {
  .container-fluid__p {
    padding: 0; }
  .grid-index {
    grid-template-rows: 40% 23% 27% auto; }
  #rese単as {
    padding: 15px; }
  .product {
    font-size: 1em; } }
