*{
  margin: 0;
  font-family: 'Roboto Condensed', sans-serif;

}
.white--bkg{
  background-color: white;
}
.black--bkg{
background-color: black;
}
.contact--bkg{
  background-image: url('../images/avion.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}
