
/* contenido index styles */
.container--empty{
  height: 10rem;
  width: 100%;
}
.pasajes{
  grid-area: pasajes;
  background-image: url("../images/pasajes.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.pasajes__box{
  display: flex;
  justify-content: space-between;
  padding: 30px;
  height: 100%;
}
.pasajes__box--side{
  width: 30%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 15px;
}
.pasajes__h3{
  font-family: 'Bungee', cursive;
  font-size: 2.7rem;
  margin: 30px
}
.pasajes__h3 span.col{
  font-size: 3rem;
}
.pasajes__text{
  display: flex;
  flex-direction: column;
  width: 100%;
}
.pasajes__text--p{
  font-family: 'Bungee', cursive;
  font-size: 1.6rem;
}
.pasajes__text--p2{
  font-family: 'Bungee', cursive;
  font-size: 1.2rem;
}
.pasajes__h4{
  font-family: 'Bungee', cursive;
  font-size: 2.3rem;
}
.serv{
  grid-area: serv;
  display: flex;
  flex-direction: column;
}
.serv__box{
  display: flex;
  margin: 5%;
}

.serv__ul{
  font-family: 'Bungee', cursive;
  font-size: 1.4rem;
  width: 100%;
  height: 100%;
  opacity: 0.9;
  background-color: #f8f9fa;
  padding: 1rem;
  text-align: center;
}
.serv__li{
  margin: 0 0.5rem;
  font-size: 1.2rem;
  font-weight: bolder;
  color: black;
  font-family: 'Roboto Condensed', sans-serif;
  list-style-type: none;
  text-align: center;
}
.carousel__img{
  width: 100%;

}
.pasajes__btn{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.btn__psj{
  height: 2.8em;
  width: 60%;
  display: inline-block;
  font-family: 'Bungee', cursive;
  color: black;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: #fba000;
  border: 2px solid black;
  margin: 1.8rem;
  font-size: 1.2rem;
  line-height: 1.1;
  border-radius: .25rem;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
button.btn__psj:hover {
  background-color: black;
  color: orange;
}
/* Contenido nosotros styles */
.backg{
  background-image: url('../images/barcelona.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 17rem;
  width: 100%;
  margin: 5rem 0;
}
.container-fluid__p{
  margin: 2rem;
  font-family: 'Roboto Condensed', sans-serif;
  font-size:  1.2rem;
  color: white;
  text-align: justify;
}
.container-fluid__tittle{
  font-family: 'Bungee', cursive;
  font-size: 1.8rem;
  margin: 30px 4rem;
  color: white;
  text-align: center;
}
.redes{
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.promo{
  margin: 5% 0 0 0;
  width: 100%;

}

//contenido Contacto styles
.contact__form{
  grid-area: form;
}
//contenido viajes stylesheet
p.card-text{
  font-family: 'Bungee', cursive;
}
.ans1{

  transition-delay: 1.2s;
  transition-duration: 5s;
  background-position: center;
}
.ans1:hover{
  background-image: url('../images/Machu Picchu.jpg');

}
