.grid-index{
  display: grid;
  grid-template-areas:
  "serv serv serv "
  "serv serv serv"
  "image image .."
  "footer footer footer";
  grid-template-columns: 33% 33% auto;
  grid-template-rows: 35% 35% 75% 20rem;
}
