.grid-index{
  display: grid;
  grid-template-areas:
  "serv serv serv "
  "serv serv serv"
  "pasajes pasajes pasajes"
  "footer footer footer";
  grid-template-columns: 33% 33% auto;
  grid-template-rows: 35% 26% 25% 20rem;
}
.grid-contacto{
  display: grid;
  grid-template-areas:
  "header header .. .."
  ".. .. form form"
  ".. .. form form"
  "pie pie form form";
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: 35% 25% 25% auto;
}
