//header index
.header__bkg{
  background-image: url("../images/cielo.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;
  height: 45rem;
}

/*header nosotros*/
.encabezado{
  margin: 5%;
  display: flex;
  height: 19em;
  align-items: flex-end;
}
.encabezado__h2{
  font-family: 'Bungee', cursive;
  color: orange;
  margin: 20px;
  padding: 15px;
}

//header contacto
.header__contacto{
  grid-area: header;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.header__h2{
  height: 20%;
  font-family: 'Bungee', cursive;
  text-align: center;
}
// header Viajes
.header__viajes{
  background-image: url('../images/viajes.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 25em;
  display: flex;
  align-items: center;
}
.h1__viajes{
  font-family: 'Bungee', cursive;
  width: 100%;
  font-size: 3em;
  text-align: center;
  color: #f1590e;
  text-shadow: 2px 2px orange;
}
