.nav-link__st{
  text-decoration: none;
  font-family: 'Bungee', cursive;
  color: orange !important;
  margin: 0 3.5rem;
  }
.nav-link__st--w{
  @extend.nav-link__st;
}
.nav-item:hover .nav-link__st{
  color: black !important;
}
.nav-item:hover .nav-link__st--w{
  color: white !important;
}
