@media screen and (max-width: 1163px) {
  .serv__li--res{
    margin-top: 25px;
  }
}
@media screen and (max-width: 1100px) {
  .header__bkg{
    height: 38rem;
  }

}
@media screen and (max-width: 910px){
  .header__bkg{
    height: 30rem;
  }
  .contact--bkg{
    background-size: auto;
  }

}
@media screen and (max-width: 860px){
  .grid-index{

    grid-template-rows: 40% 20% 25% 20rem;
  }
  .pasajes__box{
    flex-direction: column;
    justify-content: center;
    padding: 30px 0;
  }
  .pasajes__box--side{
    width: 100%;
  }
  .col--ye{
    color: #f1590e;
  }
  .serv__box{
    flex-direction: column;
  }

  .encabezado{
    height: 21em;
  }
  .serv__ul{
    height: auto;
  }
}
@media screen and (min-width: 790px){
  nav.bg-light{
    background-color: transparent !important;
  }
  nav.bg-dark{
    background-color: transparent !important;
  }
}
@media screen and (max-width: 790px){
  .logo{
    font-size: 7rem;
  }
  .header__bkg{
    background-size: auto;
    background-position: top;
  }
  .grid-index{

    grid-template-rows: 40% 15% 35% 20rem;
  }
  .encabezado{
    height: 22em;
  }
}
@media screen and (max-width: 765px) {
  .grid-contacto{
    grid-template-areas:
    "header header "
    "form form"
    "form form"
    "pie pie ";
    grid-template-columns: 50% 50%;
    grid-template-rows: 30% 25% 35% 7em;
  }
  .header__h2{
    margin-bottom: 10%;
  }
}
@media screen and (max-width: 640px){
  .logo{
    font-size: 6rem;
  }
  .footer{
    flex-direction: column-reverse;
  }
  .footer__text{
    width: 100%;
    height: 30%;
  }
  //nosotros resp//
  .encabezado__h2{
    margin: 0;
    padding: 0;
    font-size: 1.3em;
    text-align: center;
  }
  .encabezado{
    height: 12em;
  }
  .backg{
    margin: 2em 0;
  }
  .container-fluid__tittle{
    margin: 2em 0;
    font-size: 1.6em;
  }
  .container-fluid__p{
    margin: 0;
    text-align: center;
    padding: 15px;
  }
  .red{
    height: 12em;

  }
  .redes{
    flex-direction: row;
    height: 50%;
    width: 100%;
    align-items: baseline;
    margin-top: 3em;
  }
  .col--img{
    width: 100%;
  }
  .foooter__nos{
    flex-direction: column-reverse;
  }
  .footer__box{
    width: 100%;
  }
}
@media screen and (max-width: 510px){
  .grid-contacto{
    grid-template-rows: 30% 25% 45% 7em;
  }
}
@media screen and (max-width: 468px){
  .grid-index{

    grid-template-rows: 40% 20% 27% 20rem;
  }
  .logo{
    font-size: 3.7rem;
  }
  .logo__sub{
    font-size: 1.2rem;
  }
  .pasajes__h3{
    font-size: 2rem;
  }

  .footer__text--h2{
    font-size: 1.5rem;
    padding: 0;
    margin-top: 15px;
  }
  .footer__icon{
    justify-content: end;
  }
  .redes__link{
    margin: 15px 0;
  }
  .footer__icon--scale{
    margin: 10px;
  }
  .footer__icon--scalefc{
    margin: 10px 15px;
  }
  .encabezado{
    height: 17em;
  }
  .contact--bkg{
    background-position: top;
  }
  .h1__viajes{
    font-size: 2em;
  }
}
@media screen and (max-width: 360px){
  .container-fluid__p{
    padding: 0;
  }
  .grid-index{

    grid-template-rows: 40% 23% 27% auto;
  }

}
