@media screen and (max-width: 1163px) {
  .serv__ul--res{
    margin-top: 25px;
  }
}
@media screen and (max-width: 1100px) {
  .header__bkg{
    height: 38rem;
  }

}
@media screen and (max-width: 900px){
  .header__bkg{
    height: 30rem;
  }
}
@media screen and (max-width: 860px){
  .grid-index{
    
    grid-template-rows: 40% 40% 75% 20rem;
  }
}
