@mixin set($color, $padding, $font) {
color: $color;
padding: $padding;
font-family: $font, cursive;
}

span.col{
  @include set(#fba000, 0, 'Bungee');

}
.col--red{
  @include set(#f1590e, 0, 'Bungee');

}
.col--ye{
  @include set(yellow, 0, 'Bungee');
}
a.col--link{
  @include set(#f1590e,  0, 'Bungee');
  text-decoration: none;
}
span.col-w{
  @include set(white, 0, 'Bungee');
}
.redes__link{
  text-decoration: none;
  height: 2rem;
  width: 2rem;
}
a.redes__link:hover {
  transform: scale(1.1);
  transition: 1s;
}
a.col--link:hover {
  transition: 1s;
  text-decoration: none;
  color: white;
}
