@mixin set($color, $padding) {
color: $color;
padding: $padding;
}

span.col{
  @include set(#fba000,   0);
  
}
.col--red{
  @include set(#f1590e, 0);

}
.col--ye{
  @include set(yellow, 0);
}
a.col--link{
  @include set(#f1590e,  0);
  font-family: 'Bungee', cursive;
  text-decoration: none;
}
span.col-w{
  @include set(white, 0);
}
.redes__link{
  text-decoration: none;
  height: 2rem;
  width: 2rem;
}
a.redes__link:hover {
  transform: scale(1.1);
  transition: 1s;
}
a.col--link:hover {
  transition: 1s;
  text-decoration: none;
  color: white;
}
