<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="../css/estilos.css">
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Bungee&display=swap" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
    <title>Check-in | Viajes</title>
  </head>
  <body class="black--bkg">
    <header class="header__viajes">
    <nav class="navbar navbar-expand-md bg-dark navbar-light fixed-top ">
      <!-- Brand -->
      <a class="navbar-brand navbar--log" href="../index.html"> <img src="../images/LOGO.png" alt="logo" style="width: 3em"> </a>

      <!-- Toggler/collapsibe Button -->
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
      </button>

      <!-- Navbar links -->
      <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link nav-link__st--r" href="nosotros.html">nosotrxs</a>
          </li>
          <li class="nav-item">
            <a class="nav-link nav-link__st--r" href="viajes.html">viajes</a>
          </li>
          <li class="nav-item">
            <a class="nav-link nav-link__st--r" href="contacto.html">contacto</a>
          </li>
        </ul>
      </div>
   </nav>


<h1 class='h1__viajes'>Si pudieras viajar, <br>¿a dónde sería?</h1>

</header>

  <div id="app" class="mb-3">
    <card v-for='card of cards' :card='card'></card>

  </div>
  <section id="reseñas"  >
    <a class="redes__link viajes--wsp" href="https://wa.me/5491123252785">
      <img class="footer__icon--scale"src="../images/whatsapp-1.png" alt="redes">
    </a>
    <h2 class="reseñas--title">Experiencias de viaje</h2>
    <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="d-block w-100">
            <p class="product">Estuvo muy bueno! Me encantó el juego, que es como mezcla de escape room y viajes. Tremenda idea que se sacaron! Muchas felicitaciones chicos. </p>
          </div>
        </div>
        <div class="carousel-item">
          <div class="d-block w-100">
            <p class="product">Un placer y gusto poder compartir este juego , muy lindo . A seguir jugando en estos viajes👏👏👏👏💪💪 </p>
          </div>
        </div>
        <div class="carousel-item">
          <div class="d-block w-100">
            <p class="product">Gracias, la verdad que siempre estoy coordinando actividades ludicas y me di cuenta que tengo que jugar mas. Felicitaciones muy buena propuesta. </p>
          </div>
        </div>
        <div class="carousel-item">
          <div class="d-block w-100">
            <p class="product">Me encanta en estos momentos que atravesamos conocer gente linda y ver aunque sea de manera virtual y jugando lugares que no imagine ver.</p>
          </div>
        </div>
        <div class="carousel-item">
          <div class="d-block w-100">
            <p class="product">Que  genial y que alegria que gente como ustedes se le ocurran estos proyectos para poder jugar un ratito :) </p>
          </div>
        </div>
        <div class="carousel-item">
          <div class="d-block w-100">
            <p class="product">Felicitaciones por esta hermosa y mágica posibilidad que nos ofrecen para viajar jugando!!! Vamos por más!!!! ✈ </p>
          </div>
        </div>
      </div>
    </div>


  </section>
  <div id="pago" class="pago text-center">
    <h2>Sumate a este viaje!</h2>
    <p>Consegui tu pasasje acá!</p>
    <a href="https://mpago.la/1jAmkfq" target="_blank">
      <button type="button" class="btn btn-success" name="button">Comprar Pasaje</button>
    </a>
  </div>

  <footer class="foooter__nos">
    <div class="footer__box">
      <h3 class="footer__h3">check<span class="col">-in</span></h3>
      <div class="footer__redes">
        <a class="footer__redes--link"href="https://www.instagram.com/viaje.recreativo.virtual/"><img style="width: 20px"src="../images/instagram-1.png" alt=""></a>
        <a class="footer__redes--link"href="https://www.facebook.com/ViajeRecreativoVirtual"> <img style="width: 15px"src="../images/face.png" alt=""></a>
      </div>
        <p class="footer__p">- ©2021 Check-in® Sitio oficial -</p>
    </div>

    <div class="form">
      <div id="main">
        <form class="formulario" action="index.html" method="post">
          <formulario v-model="contacto.nombre">
            Nombre
          </formulario>
          <formulario v-model="contacto.email">
            E-mail
          </formulario>
          <label for="Newsletter">¿Te avisamos el proximo viaje?</label>
          <input v-model="contacto.newsletter"
                 type="checkbox" name="Newsletter">
          <br><br>
          <input type="submit" name="Enviar" class="form__btm btn btn-primary" value="Enviar">
        </form>
    </div>
    </div>
  </footer>


  <script src="../js/jquery.js" ></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
  <script src="../js/bootstrap.bundle.min.js"></script>
  <script src="../js/vue/viajesMain.js"></script>
  <script src="../js/vue/contactoMain.js"></script>
  <script src="../js/main.js"></script>

  </body>
</html>
